.aside-right{
    padding: 2vw;
}
.aside-right-top{
    display: flex;
    gap:2vw;
    align-items: center;
    input{
        border:1px solid white;
        border-radius: 10px;
        background-color:#0f1138 ;
        padding: 5px 10px;
        width: 100%;
    }
}
.watching-inner{
    img{
        border-radius: 10px;
        width: 300px;
    }
}
.profile-container{
    display: flex;
    flex-direction: column;
    gap:5vh 0;
}
.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .aside-right {
        margin: auto;
    }
}