*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: poppins;
}
body {
    position: relative;
    background-color: #0f1138;
    width: 100%;
}