<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/base/base.css">
    <title>Download - playlist | Hexaview</title>
    <style type="text/tailwindcss">
        .active {
            @apply border-b-2 border-[var(--secondary-color)]
        }
        .main>section {
            @apply w-[100%] md:w-[98%] h-[350px] mx-auto flex rounded-3xl p-4 border-[var(--secondary-color)] border-2 gap-10 mb-10
        }
        .main>section img {
            @apply md:w-[600px] md:h-full rounded-xl
        }
        .main>section h2 {
            @apply text-xl md:text-5xl font-bold w-full
        }
        .main>section p {
            @apply text-[15px] md:text-lg w-[80%]
        }
        .main>section .time {
            @apply flex flex-col justify-between
        }
        .main>section .time>div {
            @apply flex justify-between gap-20
        }
    </style>
    <!-- font-['Poppins-regular'] -->
</head>
<body class="bg-[var(--background-color)] text-[var(--white)]">
    <header class="m-10">
        <h1 class="font-['Poppins-semibold'] text-5xl mb-5">Downloads</h1>
        <p class="text-[15px] w-[250px] font-light mb-5">Watch all your playlists offline right here.</p>
    </header>
    <hr>
    <nav>
        <ul class="flex gap-32 text-xl my-2 ml-14">
            <li class="active">Playlist</li>
            <li>Episode</li>
        </ul>
    </nav>

    <main class="main w-[100%] md:w-[80%] border-2 border-purple-600 border-dotted mx-auto p-2 h-auto mt-20">
        <section>
            <div>
                <img src="/assets/images/download/all_that_breathes.png" alt="animation">
            </div>
            <div class="time">
                <h2>ALL THAT BREATHES</h2>
                <p>As legions of birds fall from New Delhi's skies and the city smoulders with social unrest, two brothers race to save one of the casualties: a majestic black kite, a bird of prey essential to their city's ecosystem. offline right here.</p>
                <div>
                    <p>November 27, 2024  . 12 :02</p>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.75L21 15L12 8.25V21.75ZM15 0C6.72 0 0 6.72 0 15C0 23.28 6.72 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.28 0 15 0ZM15 27C8.385 27 3 21.615 3 15C3 8.385 8.385 3 15 3C21.615 3 27 8.385 27 15C27 21.615 21.615 27 15 27Z" fill="#F5F5F5"/>
                    </svg>    
                    <p>yesterday</p>
                </div>
            </div>
        </section>
        <section>
            <div>
                <img src="/assets/images/landing_page_img/dry.png" alt="animation">
            </div>
            <div class="time">
                <h2>ALL THAT BREATHES</h2>
                <p>As legions of birds fall from New Delhi's skies and the city smoulders with social unrest, two brothers race to save one of the casualties: a majestic black kite, a bird of prey essential to their city's ecosystem. offline right here.</p>
                <div>
                    <p>November 27, 2024  . 12 :02</p>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.75L21 15L12 8.25V21.75ZM15 0C6.72 0 0 6.72 0 15C0 23.28 6.72 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.28 0 15 0ZM15 27C8.385 27 3 21.615 3 15C3 8.385 8.385 3 15 3C21.615 3 27 8.385 27 15C27 21.615 21.615 27 15 27Z" fill="#F5F5F5"/>
                    </svg>    
                    <p>yesterday</p>
                </div>
            </div>
        </section>
        <section>
            <div>
                <img src="/assets/images/landing_page_img/bollyhood_genre.png" alt="animation">
            </div>
            <div class="time">
                <h2>ALL THAT BREATHES</h2>
                <p>As legions of birds fall from New Delhi's skies and the city smoulders with social unrest, two brothers race to save one of the casualties: a majestic black kite, a bird of prey essential to their city's ecosystem. offline right here.</p>
                <div>
                    <p>November 27, 2024  . 12 :02</p>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.75L21 15L12 8.25V21.75ZM15 0C6.72 0 0 6.72 0 15C0 23.28 6.72 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.28 0 15 0ZM15 27C8.385 27 3 21.615 3 15C3 8.385 8.385 3 15 3C21.615 3 27 8.385 27 15C27 21.615 21.615 27 15 27Z" fill="#F5F5F5"/>
                    </svg>    
                    <p>yesterday</p>
                </div>
            </div>
        </section>
        <section>
            <div>
                <img src="/css/genres pics/animation.jpeg" alt="animation">
            </div>
            <div class="time">
                <h2>RAYA AND THE LAST DRAGON</h2>
                <p>As legions of birds fall from New Delhi's skies and the city smoulders with social unrest, two brothers race to save one of the casualties: a majestic black kite, a bird of prey essential to their city's ecosystem. offline right here.</p>
                <div>
                    <p>November 27, 2024  . 12 :02</p>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.75L21 15L12 8.25V21.75ZM15 0C6.72 0 0 6.72 0 15C0 23.28 6.72 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.28 0 15 0ZM15 27C8.385 27 3 21.615 3 15C3 8.385 8.385 3 15 3C21.615 3 27 8.385 27 15C27 21.615 21.615 27 15 27Z" fill="#F5F5F5"/>
                    </svg>    
                    <p>yesterday</p>
                </div>
            </div>
        </section>
    </main>
    <section class="fixed w-full bottom-0 bg-[#272A65]">
        <div class="flex">
            <a href="">
                <svg class="mt-6 bg-[var(--background-color)] w-8 h-8" width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.9999 8.49833L4.7516 16.7496L0.624512 12.6254L12.9999 0.25L25.3753 12.6254L21.2483 16.7496L12.9999 8.49833Z" fill="white"/>
                </svg>
            </a>        
            <div class="w-[80px] h-[80px] ml-4 mt-2 mr-5 rounded-2xl">
                <img class="w-full h-full rounded-2xl" src="/assets/images/download/all_that_breathes.png" alt=""> 
            </div>           
            <div class="w-full mr-8 flex mt-4 justify-between">
                <div>
                    <h3 class="text-xl font-bold">All that breathes</h3>
                    <p>Shaunak Sen, Teddy Leifer, Aman Mann</p>
                </div>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 30V0L12.8571 15L0 30ZM17.1429 29.2857V0.714285H21.4286V29.2857H17.1429ZM25.7143 29.2857V0.714285H30V29.2857H25.7143Z" fill="#F5F5F5"/>
                </svg>
            </div>
        </div>
        <div class="bg-[var(--background-color)]">
            <ul class="flex justify-evenly [&>li>img]:w-6 py-2">
                <li>
                    <a href="./home.html">
                        <img src="/assets/icons/Vector (1).png" alt="">
                    </a>
                </li>
                <li>
                    <a href="./history.html">
                        <img src="/assets/icons/Vector (1).svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="./watch_party.html">
                        <img src="/assets/icons/Vector (3).png" alt="">
                    </a>
                </li>
                <li>
                    <a href="download.html">
                        <img src="/assets/icons/Vector (4).png" alt="">
                    </a>
                </li>
                <li>
                    <a href="./profile.html">
                        <img src="/assets/icons/Vector (5).png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    
</body>
</html>