<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/base/base.css">
    <title>Genres | Hexaview</title>
    <style type="text/tailwindcss">
        .genre>a {
            @apply bg-[#272A65] inline-block w-[350px] h-[250px] rounded-3xl text-white relative 
        }
        .genre>a>img {
            @apply w-36 h-36 absolute bottom-0 right-0 rounded-t-[70px] rounded-bl-[60px]
        }
        .genre h1 {
            @apply font-bold pl-6 pt-6
        }
        ul {
            @apply flex flex-wrap gap-[40px] justify-around my-10
        }
        
    </style>
</head>
<body class="bg-[var(--background-color)]">
    <a href="./home.html">
        <svg class="mx-5 w-8 h-8" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30 2.68182L25.4499 0L0 15L25.4499 30L30 27.3182L9.10026 15L30 2.68182Z" fill="#F3F3F3"/>
        </svg>    
    </a>
    <h2 class="text-white text-center text-3xl">Genre</h2>
    <section class="box">
        <ul>
            <div class="genre">
                <a href="./home.html" class="">
                    <h1>Adventure</h1>
                    <img src="/css/genres pics/adventure.jpeg" alt="">
                </a>
            </div>
            <div class="genre">
                <a href="./home.html" class="">
                    <h1>Drama</h1>
                    <img src="/css/genres pics/drama.jpeg" alt="">
                </a>
            </div>
            <div class="genre">
                <a href="./home.html" class="">
                    <h1>Action</h1>
                    <img src="/css/genres pics/action.jpeg" alt="">
                </a>
            </div>
            <div class="genre">
                <a href="./home.html" class="">
                    <h1>Bollyhood</h1>
                    <img src="/css/genres pics/science.jpeg" alt="">
                </a>
            </div>
            <div class="genre">
                <a href="./home.html" class="">
                    <h1>Crime</h1>
                    <img src="/css/genres pics/crime.jpeg" alt="">
                </a>
            </div>
            <div class="genre">
                <a href="./home.html" class="">
                    <h1>Comedy</h1>
                    <img src="/css/genres pics/comedy.jpeg" alt="">
                </a>
            </div>
            <div class="genre">
                <a href="./home.html" class="">
                    <h1>Animation</h1>
                    <img src="/css/genres pics/animation.jpeg" alt="">
                </a>
            </div>
            <div class="genre">
                <a href="./home.html" class="">
                    <h1>Fantasy</h1>
                    <img src="/css/genres pics/fatansy.jpeg" alt="">
                </a>
            </div>
            <div class="genre">
                <a href="./home.html" class="">
                    <h1>Horror</h1>
                    <img src="/css/genres pics/horror.jpeg" alt="">
                </a>
            </div>
            
            
        </ul>
           
    </section>
</body>
</html>