<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pages/home_page_css/asideleft.css">
    <link rel="stylesheet" href="/css/pages/home_page_css/asideright.css">
    <link rel="stylesheet" href="/css/pages/home_page_css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>History | Hexaview</title>
</head>

<body>
    <aside class="aside-left">
        <div>
            <h1 class="text-[#aa7a24] text-3xl">Hexaview</h1>
        </div>
        <div class="aside-left-inner lg:fixed hidden lg:block">
            <section class="aside-left-top">
                <button class="bg-[#dfc865]"><a href="" class="text-[#aa7a24]">
                        <i class="fa-solid fa-house text-[#aa7a24]"></i>
                        Home
                    </a></button>
                <ul>
                    <div>
                        <i class="fa-solid fa-arrows-up-down-left-right"></i>
                        <h4>Browse Genres</h4>
                    </div>
                    <div>
                        <i class="fa-regular fa-heart"></i>
                        <a href="./favorite.html"><h4>favorites</h4></a>
                    </div>
                    <div>
                        <i class="fa-solid fa-download"></i>
                        <a href="./download.html"><h4>Downloads</h4></a>
                    </div>
                    <div>
                        <i class="fa-solid fa-user-group"></i>
                        <a href="./watch_party.html"><h4>Watch Party</h4></a>
                    </div>
                    <div>
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <a href="./history.html"><h4>History</h4></a>
                    </div>
                    <div>
                        <i class="fa-solid fa-wifi"></i>
                        <h4>Wifi</h4>
                    </div>
                    <div>
                        <i class="fa-solid fa-arrows-up-down-left-right"></i>
                        <a href="./language.html"><h4>Language</h4></a>
                    </div>
                    <div>
                        <i class="fa-solid fa-check"></i>
                        <a href="./subscription.html"><h4>Subscription</h4></a>
                    </div>
                </ul>
            </section>
            <section class="aside-left-bottom absolute bottom-0">
                <ul>
                    <div>
                        <i class="fa-solid fa-gear"></i>
                        <h4>Settings</h4>
                    </div>
                    <div>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <h4 id="logout">Log Out</h4>
                    </div>
                </ul>
            </section>
        </div>
    </aside>

    <!-- main -->
    <main>
        <section class="new">
            <button class="bg-[#dfc865] ml-14"><a href="" class="text-[#aa7a24]">New</a></button>
            <br>
            <br>
            <div class="new-bio mt-20">
                <img src="/assets/images/home_page_img/poster 3 2.png" alt="">
                <h4>THE DARK KNIGHT</h4>
                <P>Batman has a new foe, the Joker, who is an accomplished criminal hell-bent on decimating Gotham City
                </P>
                <BUtton class="bg-[#aa7a24]"><a href="">
                        Watch
                    </a></BUtton>
            </div>
        </section>
        <br>
        <section class="trending">
            <h1 class="text-3xl my-6 title">Trending Now</h1>
            <div class="movie-container">
                <div class="movie-box">
                    <div>
                        <img src="/assets/images/home_page_img/Poster 2 2.png" alt="xfast" width="100%"></div>
                    <div>
                        <h4 class="font-bold">X Fast</h4>
                        <p>Drama, Thriller</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
                <div class="movie-box">
                    <div><img src="/assets/images/home_page_img/Poster 1 1.png" alt="xfast" width="100%"></div>
                    <div>
                        <h4 class="font-bold">Homesman</h4>
                        <p>Romance, Adventure</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
                <div class="movie-box">
                    <div><img src="/assets/images/landing_page_img/dry.png" alt="xfast" width="100%"></div>
                    <div>
                        <h4 class="font-bold">The Dry</h4>
                        <p>Action, Adventure</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </div>
        </section>

        <section class="coming-soon">
            <h1 class="text-3xl my-6 title">Coming Soon</h1>
            <div class="movie-container">
                <div class="movie-box">
                    <div><img src="/assets/images/home_page_img/poster 4 1.png" alt="xfast" width="100%"></div>
                    <div>
                        <h4 class="font-bold">Visions</h4>
                        <p>Action, Suspense</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
                <div class="movie-box">
                    <div><img src="/assets/images/home_page_img/Poster 5 4.png" alt="xfast" width="100%"></div>
                    <div>
                        <h4 class="font-bold">The Lost City of Z</h4>
                        <p>Action, Adventure</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
                <div class="movie-box">
                    <div><img src="/assets/images/home_page_img/Poster 6 1.png" alt="xfast" width="100%"></div>
                    <div>
                        <h4 class="font-bold">River Rain</h4>
                        <p>Action, Suspense</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- aside right -->
    <aside class="aside-right">
        <div class="aside-right-top">
            <input type="text" placeholder="Search">
            <i class="fa-solid fa-bell"></i>

        </div>
        <div class="watching">
            <h4 class="text-xl my-5">Continue Watching</h4>
            <div class="watching-inner">
                <div>
                    <img src="/assets/images/home_page_img/image1.png" alt="logo1">
                    <h4>Spider in the Web</h4>
                    <p class="text-xs">Action</p>
                    <p class="text-xs">2023</p>
                </div>
                <div>
                    <img src="/assets/images/home_page_img/image2.png" alt="logo2">
                    <h4>Manikarnika</h4>
                    <p class="text-xs">Action</p>
                    <p class="text-xs">2023</p>
                </div>
                <div>
                    <img src="/assets/images/home_page_img/image3.png" alt="logo3">
                    <h4>Saints and Stranggers</h4>
                    <p class="text-xs">Comedy, Action</p>
                    <p class="text-xs">2024</p>
                </div>
            </div>
        </div>
        <br>
        <div class="friends">
            <h4 class="my-6">Friends Activity</h4>
            <div class="profile-container [&>div>div>img]:w-20 [&>div>div>img]:h-20 [&>div>div>img]:mr-4">
                <div class="profile">
                    <div>
                        <img src="/assets/images/watch_img/Frame 49.png" alt="">
                    </div>
                    <div>
                        <h4>Abiola</h4>
                        <p class="text-xs">is now watching Harry Potter</p>
                    </div>
                </div>
                <div class="profile">
                    <div>
                        <img src="/assets/images/watch_img/Frame 50.png" alt="">
                    </div>
                    <div>
                        <h4>Chika</h4>
                        <p class="text-xs">is now watching Marry Me</p>
                    </div>
                </div>
                <div class="profile">
                    <div>
                        <img src="/assets/images/watch_img/Frame 51.png" alt="">
                    </div>
                    <div>
                        <h4>Margaret</h4>
                        <p class="text-xs">is now watching River Rain</p>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</body>

</html>