<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset-password | Hexaview</title>
    <link rel="stylesheet" href="/css/pages/reset_password.css">
    <script type="module" src="/js/reset.js"></script>
</head>
<body>

    <!-- main  -->
    <main>

        <!-- Hexaview image side -->
        <section class="main__section" id="hero">
            <div class="overlay"></div>
            <div class="main__section--child">
                <h1>Hexaview</h1>
                <h2>Discover your next  favourite movie with Hexaview, where magic match convenience</h2>
                <p>Hexaview tailors your movie journey making it effortless to find and enjoy movie.</p>
                <a href="#aside" class="btn-signup1" id="btn-signup" type="submit">Sign up</a>
            </div>
        </section>


        <!-- user registration form  -->
        <aside class="main__aside" id="aside">
            <h2>Hexaview</h2>
            

            <form action="" id="form1">
                <h3>Forgotten password</h3>
                <div>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
                <p id="msg" class="msg"></p>
                
                <button class="btn-signup" type="submit" id="btn-submit-email" disabled>Sign up</button>
            </form>

            <form action="" id="form2">
                <h3>OTP verification</h3>
                <div>
                    <div>
                        <input type="text" name="username" class="OTP" maxlength="1" required>
                    </div>
                    <div>
                        <input type="text" name="username" class="OTP" maxlength="1" required>
                    </div>
                    <div>
                        <input type="text" name="username" class="OTP" maxlength="1" required>
                    </div>
                    <div>
                        <input type="text" name="username" class="OTP" maxlength="1" required>
                    </div>
                </div>
                
                <p id="msg2" class="msg"></p>
                <button class="btn-signup" type="submit" id="btn-submit-otp">Verify</button>
            </form>

            <form action="" id="form3">
                <h3>Change password</h3>
                <div>
                    <input type="password" name="password" id="password" placeholder="New password" required>
                </div>
                <div>
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password" required>
                </div>
                <p id="msg3" class="msg"></p>
                <button class="btn-signup" type="submit" id="btn-submit-password">Change password</button>
            </form>

            <!-- social login  -->
            <section class="social__signup">

                <div class="login">
                    <p>Any issues?</p>
                    <a href="">Contact us</a>
                </div>

            </section>
        </aside>
    </main>
</body>
</html>
