<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment | Hexavew</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/base/base.css">
    <script src="/js/payment.js" defer></script><link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <style type="text/tailwindcss">
        input {
            @apply block w-full h-9 bg-transparent border-2 border-[var(--white)] outline-2 outline-[var(--white)] px-3
        }
        form>div {
            @apply md:w-[80%] w-[120%]
        }
    </style>
</head>
<body class="bg-[var(--background-color)] text-white font-['Poppins-regular'] w-full">
    <header class=" w-[100%] bg-[var(--white)] text-[var(--secondary-color)] fixed top-0 right-0">
        <h2 class="text-3xl font-['Poppins-semibold'] text-right pr-8 font-light">Hexaview</h2>
    </header>

    <main class="md:pl-20 pl-8">
        <section>
            <h2 class="text-3xl font-bold mb-8">Enter your payment details</h2>
            <div class="w-[575px] mb-6">
                <p class="mb-8">No need to worry! We’l send you a reminder email two days before your free trial ends.</p>
                <ul class="[&>li]:list-disc pl-5">
                    <li>You wont be charged until your free trial ends on 11/29/2024</li>
                    <li>No commitments - Cancel anytime online</li>
                    <li>Enjoy unlimited streaming and watch up to 4 screens simultaneously for just $17 per month</li>
                </ul>
            </div>
        </section>
        <hr class="-ml-20 md:mr-20 mr-0">
        <section>
            <div class="mt-4 w-[500px] flex justify-between">
                <h3 class="text-xl font-bold">Credit or Debit Card</h3>
                <div class="[&>img]:w-8 [&>img]:h-5 flex gap-3 items-center">
                    <img src="/assets/icons/visa.png" alt="">
                    <img src="/assets/icons/mastercard.png" alt="">
                    <img src="/assets/icons/america.png" alt="">   
                </div>
            </div>

            <form action="./profile.html" class="mt-9">
                <div class="flex [&>div]:w-[50%] justify-between gap-10">
                    <div class="w-full">
                        <label for="first-name" class="flex justify-between mx-1 mb-1 text-lg font-bold">
                            First name <span class="text-sm hidden md:inline">must match with card</span>
                        </label>
                        <input type="text" id="first-name">
                    </div>
                    <div>
                        <label for="last-name" class="flex justify-between mx-1 mb-1 text-lg font-bold">
                            Last name <span class="text-sm hidden md:inline">must match with card</span>
                        </label>
                        <input type="text" id="last-name">
                    </div>
                </div>
                <div class="md:w-[80%] w-[120%] flex [&>div]:w-[50%] justify-between gap-10 mt-10">
                    <div class="w-full relative">
                        <label for="card-number" class="mx-1 mb-1 text-lg font-bold">
                            Card Number
                        </label>
                        <input type="text" id="first-name">
                        <svg class="w-6 h-6 absolute right-1 top-9" width="20" height="27" viewBox="0 0 20 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 20.25C11.375 20.25 12.5 19.125 12.5 17.75C12.5 16.375 11.375 15.25 10 15.25C8.625 15.25 7.5 16.375 7.5 17.75C7.5 19.125 8.625 20.25 10 20.25ZM17.5 9H16.25V6.5C16.25 3.05 13.45 0.25 10 0.25C6.55 0.25 3.75 3.05 3.75 6.5V9H2.5C1.125 9 0 10.125 0 11.5V24C0 25.375 1.125 26.5 2.5 26.5H17.5C18.875 26.5 20 25.375 20 24V11.5C20 10.125 18.875 9 17.5 9ZM6.125 6.5C6.125 4.3625 7.8625 2.625 10 2.625C12.1375 2.625 13.875 4.3625 13.875 6.5V9H6.125V6.5ZM17.5 24H2.5V11.5H17.5V24Z" fill="#D9D9D9"/>
                        </svg>                            
                    </div>
                    <div>
                    </div>
                </div>
                <div class="md:w-[80%] w-[120%] flex [&>div]:w-[50%] justify-between gap-10 mt-10">
                    <div class="w-full">
                        <label for="first-name" class="mx-1 mb-1 text-lg font-bold">
                            Expiry Date 
                        </label>
                        <input type="text" id="first-name" class="w-[50%]">
                    </div>
                    <div class="relative">
                        <label for="last-name" class="mx-1 mb-1 text-lg font-bold">
                            Security Code
                        </label>
                        <input type="text" id="last-name" class="w-[50%]">
                        <svg class="w-6 h-6 absolute right-[80px] lg:right-44 top-9" width="20" height="27" viewBox="0 0 20 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 20.25C11.375 20.25 12.5 19.125 12.5 17.75C12.5 16.375 11.375 15.25 10 15.25C8.625 15.25 7.5 16.375 7.5 17.75C7.5 19.125 8.625 20.25 10 20.25ZM17.5 9H16.25V6.5C16.25 3.05 13.45 0.25 10 0.25C6.55 0.25 3.75 3.05 3.75 6.5V9H2.5C1.125 9 0 10.125 0 11.5V24C0 25.375 1.125 26.5 2.5 26.5H17.5C18.875 26.5 20 25.375 20 24V11.5C20 10.125 18.875 9 17.5 9ZM6.125 6.5C6.125 4.3625 7.8625 2.625 10 2.625C12.1375 2.625 13.875 4.3625 13.875 6.5V9H6.125V6.5ZM17.5 24H2.5V11.5H17.5V24Z" fill="#D9D9D9"/>
                        </svg>                            
                    </div>
                </div>
                <div class="w-[550px] mt-14">
                    <label for="terms" class="flex gap-4 items-center">
                        Accept Terms and Conditions 
                        <input type="checkbox" name="terms" id="terms" class="w-5">
                    </label>
                </div>
                <div class="w-[120%] md:w-[80%]">
                    <button id="sub-btn" type="submit" class="w-44 rounded-xl py-2 px-6 mx-auto bg-[var(--secondary-color)] font-bold items-center block my-14">Continue</button>
                </div>
            </form>
        </section>
    </main>
    
</body>
</html