<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Who’s Watching? | Hexaview</title>
    <!-- Google-Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/pages/watch.css" />
    <script type="module" src="/js/profile.js" defer></script>
  </head>
  <body>
    <section>
      <div class="watch-container">
        <h1>Who’s Watching ?</h1>
        <div class="users-container" id="parent">
          <div class="user">
            <img src="/assets/images/watch_img/Frame 49.png" alt="Magaret" />
            <figcaption id="username">Magaret</figcaption>
          </div>
          <div class="user">
            <img src="/assets/images/watch_img/Frame 50.png" alt="Chika" />
            <figcaption>Chika</figcaption>
          </div>
          <div class="user">
            <img src="/assets/images/watch_img/Frame 51.png" alt="Abiola" />
            <figcaption>Kids</figcaption>
          </div>
          <div class="user" id="add-user">
            <img src="/assets/images/watch_img/Frame 52.png" alt="Add User" />
            <figcaption>Add User</figcaption>
          </div>
        </div>
        <button>Manage Profile</button>
      </div>
    </section>
  </body>
</html>
